/* 
    Created on : Mar. 13, 2021, 3:50:17 p.m.
    Authors     : Laroy and Erwin
*/


/* https://www.materialpalette.com/download.css/grey/blue-grey */
*{
    primary-background-color: #212121;
    secondary-background-color: #424242;
    selected-btn-color: #BDBDBD;
    unselected-btn-color: #757575;
    primary-text-color: #9E9E9E;
    text-fill-brackground: #616161;
            
    /* Erwin's Colour Shenanigans */
    text-white: #FFFFFF;
    text-field-heading: #EDEDEDBF;
    orange-primary-color: #F2A154;
    button-hover-color: #2C2F33;
}

.root {
    -fx-background-color: primary-background-color;
}

/*----------BUTTON STYLING----------*/
.button {
    -fx-background-color: orange-primary-color;
    -fx-text-fill: text-white;
}

.button:hover{
    -fx-background-color: button-hover-color;
    -fx-text-fill: text-white;
}

.button:pressed{
    -fx-background-color: light-primary-color;
    -fx-text-fill: dark-primary-color;
}

/*----------TAB STYLING----------*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: primary-background-color;
}

.tab-pane .tab {
    -fx-background-color: unselected-btn-color;
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-alignment: center;
    -fx-text-fill: text-fill-brackground;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: text-white;
    -fx-font-size: 16px;
}

.tab .tab-label:selected{ 
    -fx-text-fill: orange-primary-color;
}

.tab-pane .tab:selected{
    -fx-background-color: secondary-background-color;
}

.tab-pane:top {
    -fx-background-color: secondary-background-color;
}

/*----------TEXT FIELD/AREA STYLING----------*/
.text-field {
    -fx-background-color: text-fill-brackground;
}

.text-area .content{
    -fx-background-color: text-fill-brackground;
    -fx-border-color: primary-background-color;
    -fx-text-fill: primary-text-color;
}
.text-area {
    -fx-text-fill: text-field-heading;
    -fx-background-color: primary-background-color;
   
}


.textPanel {
    -fx-border-style: solid;
    -fx-border-color: primary-background-color;
}

.separator *.line {
    -fx-background-color: primary-background-color;
    -fx-border-color: primary-background-color;
}

/*----------COMBOBOX/CHOICEBOX STYLING----------*/
.combo-box {
    -fx-background-color: text-fill-brackground;
    -fx-text-fill: text-white;
}

.combo-box-popup .list-cell {    
    -fx-background-color: text-fill-brackground;
    -fx-text-fill: text-white;
}
.combo-box-popup .list-cell:hover {
    -fx-text-fill: button-hover-color;
    -fx-background-color: orange-primary-color;
}


/*----------TILTED PANE STYLING----------*/
.titled-pane{
    -fx-font-size: 13;
    -fx-text-fill: primary-text-color;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: orange-primary-color;
}

.titled-pane > .title {
    -fx-background-color: text-fill-brackground;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: text-white;
}

#tiltedScrollPane{
    -fx-border-color: primary-background-color;
}

#tiltedPaneContent {
    -fx-background-color: secondary-background-color;
    -fx-border-color: primary-background-color;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-text-fill: primary-text-color;
}

/*----------TABLE STYLING----------*/
.table-column{
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-text-fill: #AAAAAA;
}

.table-row-cell{
    -fx-background-color: #2C2F33;
    -fx-border-color: #23272A;
    -fx-font-family: sans-serif;
    
}
.table-row-cell:selected{
    -fx-background-color: #000000;
}

/*----------CHART STYLING----------*/
.chart-title {
    -fx-text-fill: primary-text-color;
}
.bar-chart .chart-content .chart-plot-background{
    -fx-background-color: primary-background-color;
}

.axis-label {
    -fx-text-fill: primary-text-color;
}
.chart-pie-label {
    -fx-fill: primary-text-color;
}
.chart-pie-label {
    -fx-fill: primary-text-color;
}